h3 {
  margin: 0;
  margin-bottom: 8px;
}

ul{
  padding-left: 0;
}

.product-card_container {
  display: flex;
  margin-bottom: 24px;
}

.product-card_img {
  height: 96px;
  width: 148px;
}

.product-card_info{
  margin-left: 8px;
  height: 96px;
}

.product-card_delete{
  background-color: #FF1053;
}